body
{
padding-top: 40px; /* ну или 60 */
}


.sidebar {
position: fixed;
z-index: 500;
background-color: #F9F9F9;
padding: 10px 10px 10px 20px;
height: 100%;
width: 170px;
border-right: 1px solid #CCC;
}

#contentArea {
    margin: 20px auto; 
 
}
.userContent {
    width: 320px;
    height: 240px;
    margin: 10px;
    background-color: #F9F9F9;
}

.ownerVideoPreview {
    width: 160px;
    height: 120px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.fullScreenOwnerVideoPreview {
    width: 640px;
    height: 480px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.videoPreview {
    position: relative;
    width: 90px;
    height: 60px;
    padding-bottom: 2px;
    background-color: #1e1e1e;
}

.previewEventDiv {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}


.topContainer {
    position:relative;
    height: 484px; 
    width: 100%;
    margin: 0px;
    padding: 10px;
    background-color: #272727;
}

.videoContentContainer {
    position:relative; 
    height: 480px; 
    padding: 2px;
    background-color: #1e1e1e;
}

.mainVideoContainer {
    position:relative; 
    height: 480px; 
    width: 640px;
    float: left;
}

.mainVideo {
    position: absolute;
    top: 0;right: 0;left: 0;bottom: 0;
    background-color: #3f3f3f;
    background-image: url(../img/webCamera.png);
    background-repeat:no-repeat;
    background-position: center;
}

.videoPreviewListCollapsed {
    position:relative; 
    height: 480px; 
    width: 0px;
    margin-left: 2px;
    float: right;
}

.videoPreviewList {
    position:relative; 
    height: 480px; 
    width: 90px;
    margin-left: 2px;
    float: right;
}


.align_center{
    position: relative;
    width: 100%;
}

.align_center:after {
    content: '';
    display: block;
    clear: both;
}

.align_center_to_left {
    position: relative;
    right: 50%;
    float: right;
}

.align_center_to_right {
    position: relative;
    z-index: 1;
    right: -50%;
}