@using VideoHelp.ReadModel.Meeting
@model IEnumerable<VideoHelp.ReadModel.Meeting.MeetingListView>

@{
    ViewBag.Title = "Митинги :)";
}


<div style="height: 100%; width: 100%; position: absolute;background: beige;">
    <div style="width: 12%; height: 100%;background: blue; position: absolute;">
    
    </div>

    <div style="width: 88%; height: 100%; position: absolute;left: 12%;">
    
        <div class="container-fluid">
  

        </div>
    </div>

</div>