<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDir" value="${basedir}/Logs" />

  <variable name="shortLayout"
            value="${date:format=HH\:mm\:ss.fff} (${level:uppercase=true}) [${threadid}] (${logger}) : ${message} ${exception:format=ToString}" />
  <variable name="commonLayout"
            value="${date:format=dd.MM.yyyy HH\:mm\:ss.fff} (${level:uppercase=true})  [${threadid}] (${logger}) : ${message} ${exception:format=ToString,StackTrace:separator=&#xD;&#xA;}" />
  <variable name="detailedLayout"
            value="${longdate} - (${level:uppercase=true}) [${threadid}] (${logger}) : ${message} ${exception:format=ToString,StackTrace:separator=&#xD;&#xA;}" />

  <targets>

    <target name="file" xsi:type="File" fileName="${logDir}/${date:format=yyyy_MM_dd}.log" layout="${shortLayout}" deleteOldFileOnStartup="false" keepFileOpen="true"/>
    <target name="debugger" xsi:type="Debugger" layout="${detailedLayout}" />
    <target name="ccon" xsi:type="ColoredConsole" layout="${shortLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file,debugger,ccon" />
  </rules>

</nlog>